@font-face {
    font-family: 'fonts';
    src: url('01674_alternategotno1d-webfont.eot');
    src: url('01674_alternategotno1d-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('01674_alternategotno1d-webfont.woff2') format('woff2'),
         url('01674_alternategotno1d-webfont.svg#alternategotno1dregular') format('svg');
    font-weight: normal;
    font-style: normal;

}